terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/*.tfvars
terraform/*.tfvars.json
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
terraform/crash.log
backend-deploy.zip
**/.env
**/.env.local
**/.env.*.local
**/.git.backup/
**/node_modules/
**/target/
**/dist/
.idea/
back-end/.idea/
